<div class="onlineFriends col-sm-2 pull-left">
  <div>
    <span> Search Friends </span>
    <hr>
    <span> pretend online friend</span>
    <hr>
    <span>Pretend online Friend</span>
    <hr>
  </div>
</div>

  <div class="message col-sm-10 pull-right">
    <div class="displayParticipants">
      <span> Participants </span>
      <hr>
    </div>
    <!-- Display each message -->
    <% @message.each do |m| %>
      <article>
        <article class="messageUser">
            <%= link_to m.user.name, user_path(m.user) %>:
        </article>
          <article class="messageBox">
            <%= m.body %>
        </article>
      </article>
    <% end %>

    <!-- Form to submit a message-->
      <%= form_for @new_message do |nm| %>
      <div class="newMessageForm">
        <%= nm.text_area :body, placeholder: "Write a new message", style: "width: 100%;height: 100px;"%>
      </div>
        <%= nm.submit %>
      <% end %>

  </div>
