<h1>All Messages</h1>

<!-- Display each message -->
<% @message.each do |m| %>
  <article>
    <%= m.user.name %>: <%= m.body %>
  </article>
<% end %>

<!-- Form to submit a message-->
<%= form_for @new_message do |nm| %>
  <%= nm.text_area :body, placeholder: "Write a new message" %>
  <%= nm.submit %>
<% end %>
