<div class="hundred container">

  <div class="hundred row">

    <div class="page">


    <div class="allGroupsDisplay grey col-md-2">
        <ul class="allGroupsDisplay">
          <div class="eachParticipant sticky">
            <h2 class="conversations">Chats</h3>
            <hr>
          </div>
          <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#newGroup">
            <span class="glyphicons glyphicons-plus-sign"></span>
            New Chat
          </button>
            <!-- If you belong to a group, display the name below -->
              <% @memberships.each do |mb|%>
                <% if mb.user_id == current_user.id %>
                  <div class="individualGroup">
                    <%= link_to mb.group.title, group_path(mb.group_id)%>
                  </div>
                <% end %>
              <% end %>
          </ul>

    </div>


        <div class="message col-md-8">
          <h1 class="groupName"><%= @group.title %> </h1>
          <hr>
          <!-- Display each message -->
          <% @messages.each do |m| %>
            <div class="eachMessage">
              <article class="messageUser">

                <%= link_to user_path(m.user), class: "avatar" do %>
                  <%= image_tag m.user.profile_photo.url, class: "avatar" %>
                <% end %>
              </article>
              <article class="messageBox">
                <%= m.body %>
              </article>
               <% if  m.user == current_user %>
                 <%= link_to edit_group_message_path(@group, m), class: "btn" do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                 <% end %>

               <%= link_to group_message_path(@group, m), method: :delete do %>
                   <i class="glyphicon glyphicon-trash"></i>
                 <% end %>
                 <% end %>
            </div>
          <% end %>

          <!-- Form to submit a message-->
            <%= form_for [@group, @new_message] do |nm| %>
            <div class="newMessageForm">
              <%= nm.text_area :body, placeholder: "Write a new message", style: "width: 100%; height: 100%;"%>
            </div>
            <div class="submit">
                <br>
                <%= nm.submit %>
              <% end %>
                <br>
              <!-- <%= link_to('Back to All Groups', groups_path, style: "margin: 1%;")%> -->
            </div>

        </div>

        <div class="participants col-md-2">
          <ul class="allParticipants">
            <div class="eachParticipant">
              <h3>Participants</h3>
              <hr>
            </div>
              <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#newParticipant">
                <span class="glyphicons glyphicons-plus-sign"></span>
                Add Participants
              </button>
            <div>
            </div>
            <% @group.memberships.each do |p| %>
              <div class="individualGroup">
                <%= link_to p.user.name, user_path(p.user) %>
              </div>
            <% end %>
          </ul>
        </div>

    </div>

  </div>

</div>

<!-- Modals -->

<div class="modal fade" id="newGroup" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create a new chat group!</h4>
        </div>
        <div class="modal-body">

          <div class="createNewGroup">
            <%= form_for @new_group do |ng| %>
              <div class="newGroupForm">
                <%= ng.text_field :title, placeholder: "Group Name" %>
              </div>
              <%= ng.submit%>
            <% end %>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="newParticipant" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Participants!</h4>
          </div>
          <div class="modal-body">
              <!-- Add invite form here -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
