<div class="hundred container">
  <div class="hundred row">
    <div class="page">
    <div class="allGroupsDisplay sideBar col-md-2">
        <ul class="allGroupsDisplay">
          <div class="eachParticipant sticky">
            <h2 class="conversations">Chats</h3>
          </div>
          <hr class="convo">
          <div class="convoButton">
            <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#newGroup">
              <span class="glyphicons glyphicons-plus-sign"></span>
              New Chat
            </button>
          </div>
          <hr class="convo">
            <!-- If you belong to a group, display the name below -->
              <% @memberships.each do |mb|%>
                <% if mb.user_id == current_user.id %>
                  <div class="individualGroup">
                    <%= link_to mb.group.title, group_path(mb.group_id)%>
                  </div>
                <% end %>
              <% end %>
          </ul>
    </div>
        <div class="message col-md-10">
          <div class="stickIt">
            <h1 class="groupName"><%= @group.title %> </h1>
            <!-- Display participants -->
              <% @group.memberships.each do |p| %>
                <div class="displayParticipants">
                  <%= link_to user_path(p.user), class: "displayParticipants" do %>
                    <%= image_tag p.user.profile_photo.url, class: "individualMember" %>
                  <% end %>
                </div>
              <% end %>
              <button type="button" class="btn btn-info btn-md space" data-toggle="modal" data-target="#newParticipant">
                Add Participants
              </button>
          </div>

          <!-- Display each message -->
          <% @messages.each do |m| %>
            <div class="eachMessage">
              <article class="messageUser">
                <%= link_to user_path(m.user), class: "avatar" do %>
                  <%= image_tag m.user.profile_photo.url, class: "avatar" %>
                <% end %>
              </article>
              <article class="messageBox">
                <%= m.body %>
              </article>
               <% if  m.user == current_user %>
                 <%= link_to edit_group_message_path(@group, m), class: "btn" do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                 <% end %>

               <%= link_to group_message_path(@group, m), method: :delete do %>
                   <i class="glyphicon glyphicon-trash"></i>
                 <% end %>
                 <% end %>
            </div>
          <% end %>

          <!-- Form to submit a message-->
            <%= form_for [@group, @new_message] do |nm| %>
            <div class="submitMessage">

              <div class="newMessageForm">
                <%= nm.text_field :body, placeholder: "Write a new message", style: "width: 100%; height: 100%; border-radius: 5px;"%>
              </div>
            </div>
              <div class="submit" >
                  <br>
                  <!-- <%= nm.submit style: "margin-left:10%"%> -->
                <% end %>
                  <br>
                <!-- <%= link_to('Back to All Groups', groups_path, style: "margin: 1%;")%> -->
              </div>
        </div>
    </div>
  </div>
</div>

<!-- Modals -->

<div class="modal fade" id="newGroup" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create a new chat group!</h4>
        </div>
        <div class="modal-body">

          <div class="createNewGroup">
            <%= form_for @new_group do |ng| %>
              <div class="newGroupForm">
                <%= ng.text_field :title, placeholder: "Group Name" %>
              </div>
              <div class="submitMessage">
                <%= ng.submit%>
                <% end %>
              </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="newParticipant" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Participants!</h4>
          </div>
          <div class="modal-body">
              <!-- Add invite form here -->
                <%= form_for [@group, @invite] do |f| %>
                  <%= f.text_field :recipient_id, placeholder: "Recipient" %>
                  <!-- <%= f.text_field :message , placeholder: "Message" %> -->
                  <%= f.submit 'Invite Participant' %>
              <% end %>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
