<!DOCTYPE html>
<html>
  <head>
    <title>Chatr</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<!-- nav bar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
       <div class="container">
           <ul class="nav navbar-nav">
             <li>
               <%= link_to "Chatr", root_path %>
             </li>
             <li>
                <% if logged_in? %>
                   <%= link_to "Logout", logout_path, {method: "DELETE"} %>
                 <% else %>
                   <%= link_to "Login", new_session_path %>
                 <% end %>
            </li>
            <!-- <li>
              <%= link_to "My Profile"%>
            </li> -->
           </ul>
       </div>
    </div>


    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
